<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/cover.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Family Cookbook</title>
</head>
<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner"></div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Family Cookbook</h1>
      <p class="lead">A place to store and share your cherished family recipes so they may be enjoyed for generations to come.</p>
      <p class="lead">
        <a href="/loginpage" class="btn btn-lg btn-dark">Sign In</a>
        <a href="/registerpage" class="btn btn-lg btn-dark">Sign Up</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p></p>
      </div>
    </footer>
  </div>
</body>
